<div id="tenant-status" class="row">
    {% for item in tenants %}
    {% if item.baseline %}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-5">
      <div class="card card-stats">
        <div class="card-header p-3 pt-2 mt-2">
            <span class="text-sm mb-0 text">Last message:
                <span class="text-sm text-info" id="current-message-{{ item.id }}">{{ item.last_update_message }}</span>
            </span>
            <div class="text-sm"> Last status:
                {% if item.last_update_status == 'error' %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-danger">{{ item.last_update_status }}</span>
                {% elif item.last_update_status == 'success' %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-success">{{ item.last_update_status }}</span>
                {% else %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-warning">{{ item.last_update_status }}</span>
                {% endif %}
            </div>
          <div class="text-end pt-1 mt-2">
              <h4 class="mb-0 text-warning">{{ item.display_name }}</h4>
          </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer d-flex">
        <input type="button" class="btn btn-sm bg-gradient-primary my-auto" id="update-{{ item.id }}" onclick="handleTaskClick({{ item.id }}, 'update')" value="Update" style="
            width: 8rem;
            margin-right: 1.5rem;
        "/>
        <input type="button" class="btn btn-sm bg-gradient-primary my-auto" id="backup-{{ item.id }}" onclick="handleTaskClick({{ item.id }}, 'backup')" value="Backup" style="
            width: 8rem;
            margin-right: 1.5rem;
        "/>
        <div class="lds-ellipsis my-auto" id="ellipsis-{{ item.id }}" style="display: none;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">date_range</i>
        <span class="font-weight-normal my-auto">{{ item.last_update }}</span>
      </div>
    </div>
    </div>
    {% else %}
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-5">
      <div class="card card-stats">
        <div class="card-header p-3 pt-2 mt-2">
            <span class="text-sm mb-0 text">Last message: 
                <span class="text-sm text-info" id="current-message-{{ item.id }}">{{ item.last_update_message }}</span>
            </span>
            <div class="text-sm"> Last status:
                {% if item.last_update_status == 'error' %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-danger">{{ item.last_update_status }}</span>
                {% elif item.last_update_status == 'success' %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-success">{{ item.last_update_status }}</span>
                {% else %}
                <span id="last-status-{{ item.id }}" class="text-sm mb-0 text-capitalize text-warning">{{ item.last_update_status }}</span>
                {% endif %}
            </div>
          <div class="text-end pt-1 mt-2">
              <h4 class="mb-0">{{ item.display_name }}</h4>
          </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer d-flex">
        <input type="button" class="btn btn-sm bg-gradient-primary my-auto" id="update-{{ item.id }}" onclick="handleTaskClick({{ item.id }}, 'update')" value="Update" style="
            width: 8rem;
            margin-right: 1.5rem;
        "/>
        {% if item.repo %}
        <input type="button" class="btn btn-sm bg-gradient-primary my-auto" id="backup-{{ item.id }}" onclick="handleTaskClick({{ item.id }}, 'backup')" value="Backup" style="
            width: 8rem;
            margin-right: 1.5rem;
        "/>
        {% endif %}
        <div class="lds-ellipsis my-auto" id="ellipsis-{{ item.id }}" style="display: none;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">date_range</i>
        <span class="font-weight-normal my-auto" id="updateDate-{{ item.id }}">{{ item.last_update }}</span>
      </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
</div>