<div class="row mt-4" id="feeds">
  <div class="col-lg-6 col-md-12">
    <div class="col-4">
      <h2 class="text-secondary">Update feed</h2>
    </div>
    <div class="card mb-5">
      <div class="card-body table-responsive" style="height: 515px;">
        <input class="form-control" id="updateSearch" type="text" placeholder="Search.." onclick="attachTableListener('#updateSearch', '#updateTable')">
        <table class="table table-hover">
          <tbody id="updateTable">
            {% for item in data.update_feed %}
            <tr>
              <td>
                {% set icon, color = get_icon_and_color(item) %}
                <div class="d-flex px-2 py-1">
                  {% set icon, color = get_icon_and_color(item) %}
                  <div class="icon icon-m me-4">
                    <i class="material-icons {{ color }}">{{ icon }}</i>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h9 class="mb-0 text-sm">{{ item }}</h9>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="col-4">
      <h2 class="text-secondary">Backup feed</h2>
    </div>
    <div class="card mb-5">
      <div class="card-body table-responsive" style="height: 515px;">
        <input class="form-control" id="backupSearch" type="text" placeholder="Search.." onclick="attachTableListener('#backupSearch', '#backupTable')">
        <table class="table table-hover">
          <tbody id="backupTable">
            {% for item in data.backup_feed %}
            <tr>
              <td>
                {% set icon, color = get_icon_and_color(item, "backup") %}
                <div class="d-flex px-2 py-1">
                  <div class="icon icon-m me-4">
                    <i class="material-icons {{ color }}">{{ icon }}</i>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h9 class="mb-0 text-sm">{{ item }}</h9>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>