{% extends "base/template.html" %}

{% block title %} Changes {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-lg-2">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                <h3>Change summary</h3>
                <h6 class="text-secondary font-weight-normal pe-3">Summary of changes from last 180 records</h6>
            </div>
        </div>
        <div class="col-lg-9">

            <div class="card">
                <div class="card-body px-4 pb-2" style="height: calc(100vh - 360px); overflow: auto;">
                    <input class="form-control" id="changeSearch" type="text" placeholder="Search..">
                    <div class="accordion accordion-flush" id="accordionFlush">
                        {% if changes %}
                        {% for change in changes %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-{{ change.id }}">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ change.id }}"
                                    aria-expanded="false" aria-controls="flush-collapse-{{ change.id }}">
                                    <p>
                                        <strong>Name: </strong> {{ change.name }}
                                        <br>
                                        <strong>Type: </strong> {{ change.type }}
                                    </p>
                                </button>
                            </h2>
                            <div id="flush-collapse-{{ change.id }}" class="accordion-collapse collapse"
                                aria-labelledby="flush-{{ change.id }}" data-bs-parent="#accordionFlush">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Setting</th>
                                                    <th>New value</th>
                                                    <th>Old value</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-body">
                                            {% for diff in change.diffs %}
                                                <tr>
                                                    <td class="align-middle text-m">{{ diff.setting }}</td>
                                                    <td class="align-middle text-m">{{ diff.new_val }}</td>
                                                    <td class="align-middle text-m">{{ diff.old_val }}</td>
                                                    <td class="align-middle text-m">{{ diff.change_date }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr" />
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No changes found</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    const searchInput = $('#changeSearch');
    const accordion = $('#accordionFlush');

    searchInput.on('keyup', (event) => {
        const searchTerm = event.target.value.toLowerCase();
        const accordionItems = accordion.find('.accordion-item');
        
        accordionItems.each(function() {
        const itemName = $(this).find('.accordion-header p').text().toLowerCase();
        
        if (itemName.includes(searchTerm)) {
            $(this).css('display', 'block');
        } else {
            $(this).css('display', 'none');
        }
        });
    });
</script>
{% endblock javascripts %}