
{% extends "base/template.html" %}
{% block title %} Home {% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    {% if alert_api_keys == true %}
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-5">
        <div class="alert alert-warning alert-dismissible text-white fade show" role="alert" style="align-items: right;">
          <span class="alert-icon align-middle"></span>
          <span class="alert-text"><strong>Warning!</strong> There are API Keys expiring. Make sure to replace them!</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    <!--- Pipeline -->
    {% include "include/tenantstatus.html" %}
    <!--- End Pipeline -->

    <!--- Tenant selection -->
    <ul>
      <li class="nav-item dropdown d-flex">
        <a href="#" class="btn btn-dark btn-sm mb-3 me-3 dropdown-toggle " data-bs-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false">
          {{ selected_tenant_name }}
        </a>
        <ul class="dropdown-menu px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
          <li class="mb-2">
            {% if tenant_data %}
            <li>
              {% for tenant in tenants %}
                {% if tenant.baseline == "true" %}
                  {% if tenant.id == selected_tenant %}
                    <a class="dropdown-item text-bold text-warning" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% else %}
                    <a class="dropdown-item text-warning" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% endif %}
                {% else %}
                  {% if tenant.id == selected_tenant %}
                  <a class="dropdown-item text-bold" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% else %}
                    <a class="dropdown-item" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </li>
            {% endif %}
          </li>
        </ul>
      </li>
    </ul>
    <!--- end tenant selection -->

    <!--- Trends -->
    <div class="row mt-4">
      <div class="col-xl-4 col-lg-12 mb-5">
        <div class="card card-chart">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info shadow-success shadow-info border-radius-lg py-3 pe-1">
            <canvas id="lineChartTracked" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
              </div>
          </div>
          <div class="card-body">
            <h3 class="card-title">Tracked</h3>
            <p class="card-category">trend over tracked configurations</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-12 mb-5">
        <div class="card card-chart">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-warning shadow-warning shadow-warning border-radius-lg py-3 pe-1">
            <canvas id="lineChartDiffs" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
          </div>
          </div>
          <div class="card-body">
            <h3 class="card-title">Changes</h3>
            <p class="card-category">trend over changes between configurations</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-12 mb-5">
        <div class="card card-chart">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary shadow-primary border-radius-lg py-3 pe-1">
            <canvas id="lineChartAverage" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
              </div>
          </div>
          <div class="card-body">
            <h3 class="card-title">Average</h3>
            <p class="card-category">change average per last {{ diff_data_len }} records</p>
          </div>
        </div>
      </div>
    </div>
    <!--- End Trends -->

    <!--- Diff -->
    <div class="row mt-4">

      <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-info shadow-info shadow-info border-radius-lg py-4">
            <div class="text-center">
              <h3 class="text-light" id="tracked"></h3>
            </div>
          </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Tracked configurations</h4>
          </div>
          <div class="card-footer d-flex">
            <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
            <p class="font-weight-normal my-auto">Updated on: {{ count_data.last_update }}</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success shadow-success border-radius-lg py-4">
            <div class="text-center">
              <h3 class="text-light" id="match"></h3>
            </div>
          </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Matching</h4>
          </div>
          <div class="card-footer d-flex">
              <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
              <p class="font-weight-normal my-auto">Updated on: {{ count_data.last_update }}</p>
            </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-warning shadow-warning shadow-warning border-radius-lg py-4">
            <div class="text-center">
              <h3 class="text-light" id="diff"></h3>
            </div>
          </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Not matching</h4>
          </div>
          <div class="card-footer d-flex">
            <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
            <p class="font-weight-normal my-auto">Updated on: {{ diff_data.last_update }}</p>
          </div>
        </div>
      </div>

    </div>
    <!--- End Diff -->

    <!--- Feeds -->
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12">
        <div class="col-4">
          <h2 class="text-secondary">Update feed</h2>
        </div>
        <div class="card mb-5">
          <div class="card-body table-responsive" style="height: 515px;">
            <input class="form-control" id="updateSearch" type="text" placeholder="Search..">
            <table class="table table-hover">
              <tbody id="updateTable">
                {% for item in update_feed %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      {% if "No changes" in item or "Checking if" in item %}
                        <div class="icon icon-m me-4">
                          <i class="material-icons opacity-5">check_circle</i>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h9 class="mb-0 text-sm">{{ item }}</h9>
                        </div>
                      {% else %}
                      <div class="icon icon-m me-4">
                        <i class="material-icons opacity-5">published_with_changes</i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h9 class="mb-0 text-sm">{{ item }}</h9>
                      </div>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="col-4">
          <h2 class="text-secondary">Backup feed</h2>
        </div>
        <div class="card mb-5">
          <div class="card-body table-responsive" style="height: 515px;">
            <input class="form-control" id="backupSearch" type="text" placeholder="Search..">
            <table class="table table-hover">
              <tbody id="backupTable">
                {% for item in backup_feed %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                        <div class="icon icon-m me-4">
                          <i class="material-icons opacity-5">cloud_download</i>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h9 class="mb-0 text-sm">{{ item }}</h9>
                        </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--- End Feeds -->
  </div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/countup.js@1.8.5/dist/countUp.js" 
integrity="sha256-uuJpDbZXxCG+b0n1BHZF/culPcadU3xCGhSIrbiypTg=" 
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"
integrity="sha256-gjQYlCMM/HIX3lODQvv5er+D4m6hfcSetDqlGj8FGj0="
crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" 
integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
  var ctx = document.getElementById("lineChartDiffs").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: {{ labelsDiff | safe }},
  datasets: [
    {
      label: 'Diffs',
      data: {{ diffs | safe }},
    fill: false,
    borderColor: "white",
    lineTension: 0.1
                      },
  ]
              },
              options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: false
              },
            }
          }
        }
    });
</script>

<script>
  var ctx = document.getElementById("lineChartTracked").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: {{ labelsConfig | safe }},
  datasets: [
    {
      label: 'Tracked',
      data: {{ config_counts | safe }},
    fill: false,
    borderColor: "white",
    lineTension: 0.1
                      },
  ]
              },
              options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: false
              },
            }
          }
        }
    });
</script>

<script>
  var ctx = document.getElementById("lineChartAverage").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: {{ labelsAverage | safe }},
  datasets: [
    {
      label: 'Average',
      data: {{ average_diffs | safe }},
    fill: false,
    borderColor: "white",
    lineTension: 0.1
                      },
  ]
              },
              options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: false
              },
            }
          }
        }
    });
</script>

<script>
  function count () {
    var matchCount = new CountUp('match', 0, "{{ matchCount }}");
    if (!matchCount.error) {
      matchCount.start();
    } else {
      console.error(matchCount.error);
    }
    var diffCount = new CountUp('diff', 0, "{{ diffCount }}");
    if (!diffCount.error) {
      diffCount.start();
    } else {
      console.error(diffCount.error);
    }
    var trackedCount = new CountUp('tracked', 0, "{{ trackedCount }}");
    if (!trackedCount.error) {
      trackedCount.start();
    } else {
      console.error(trackedCount.error);
    }
  }

  window.addEventListener('load', count);
</script>

<script>
  $(document).ready(function(){
    $("#updateSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#updateTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#backupSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#backupTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script>
  function handleTaskClick(tenant_id, task_type) {
    const endpoint = 'intunecd/run';
    fetch(endpoint, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ tenant_id: tenant_id, task_type: task_type }),
    });
  }

  $(document).ready(function() {
    var socket = io.connect();
    var statusData = {};
  
    function updateUI(data) {
      const { status, message, date, tenant_id } = data;
      const el = document.getElementById(`current-message-${tenant_id}`);
      const updateButton = document.getElementById(`update-${tenant_id}`);
      const backupButton = document.getElementById(`backup-${tenant_id}`);
      const ellipsis = document.getElementById(`ellipsis-${tenant_id}`);
      const ls = document.getElementById(`last-status-${tenant_id}`);
      const updateDate = document.getElementById(`updateDate-${tenant_id}`);
  
      el.innerText = message;
      ls.innerText = status;
      ls.classList.remove('text-success', 'text-danger', 'text-warning');
      updateDate.innerText = date;
  
      if (backupButton) backupButton.style.removeProperty('display');
      if (updateButton) updateButton.style.removeProperty('display');
      if (ellipsis) ellipsis.style.display = 'none';
  
      if (status === 'error' || status === 'success') {
        if (backupButton) backupButton.style.removeProperty('display');
        if (updateButton) updateButton.style.removeProperty('display');
        if (ellipsis) ellipsis.style.display = 'none';
        if (status === 'error') {
          ls.classList.add('text-danger');
          ls.classList.remove('text-warning', 'text-success', 'text-info');
        } else if (status === 'success') {
          ls.classList.add('text-success');
          ls.classList.remove('text-warning', 'text-danger', 'text-info');
        }
        else {
          ls.classList.add('text-warning');
          ls.classList.remove('text-success', 'text-danger', 'text-info');
        }
      } else {
        if (!backupButton && ellipsis) {
          if (updateButton.style.display != 'none' && ellipsis.style.display === 'none') {
            ellipsis.style.display = 'inline-block';
            ls.innerText = status;
            ls.classList.add('text-info')
            updateButton.style.display = 'none';
          }
        } else if (updateButton && backupButton && ellipsis) {
          if (updateButton.style.display != 'none' && backupButton.style.display != 'none' && ellipsis.style.display === 'none') {
            ellipsis.style.display = 'inline-block';
            ls.innerText = status;
            ls.classList.add('text-info')
            updateButton.style.display = 'none';
            backupButton.style.display = 'none';
          }
        }
      }
  
      // Store the status data in local storage
      statusData[tenant_id] = { status, message, date };
      sessionStorage.setItem('statusData', JSON.stringify(statusData));
    }
  
    socket.on('intunecdrun', function(data) {
      updateUI(data);
    });
  
    // Retrieve the status data from local storage when the page is loaded
    var storedStatusData = sessionStorage.getItem('statusData');
    if (storedStatusData) {
      statusData = JSON.parse(storedStatusData);
      Object.keys(statusData).forEach(function(tenant_id) {
        const data = statusData[tenant_id];
        const ls = document.getElementById(`last-status-${tenant_id}`);
        const el = document.getElementById(`current-message-${tenant_id}`);

        if (!ls) {
          // The tenant is not on the page anymore so remove it from data
          delete statusData[tenant_id];
          sessionStorage.setItem('statusData', JSON.stringify(statusData));
          return; // Exit the forEach loop for this tenant
        }

        const lastStatus = ls.innerText.toLowerCase();
        const lastMessage = el.innerText;

        if (data.status != lastStatus) {
          data.status = lastStatus;
        }
        if (data.message != lastMessage) {
          data.message = lastMessage;
        }

        updateUI({ ...data, tenant_id });
      });
    }
  });
</script>

<style>
    .dark-version .table> :not(caption)>*>* {
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
</style>

{% endblock javascripts %}