
{% extends "base/template.html" %}
{% block title %} Home {% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-5">
        {% if alert_expiring_api_keys %}
        <div class="alert alert-warning alert-dismissible text-white fade show" role="alert" style="align-items: right;">
          <span class="alert-icon align-middle"></span>
          <span class="alert-text"><strong>Warning!</strong> There are API Keys expiring. Make sure to replace them!</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
        </div>
        {% endif %}
        {% if alert_expired_api_keys %}
        <div class="alert alert-danger alert-dismissible text-white fade show" role="alert" style="align-items: right;">
          <span class="alert-icon align-middle"></span>
          <span class="alert-text"><strong>Expired!</strong> One or more API keys has expired!</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
        </div>
        {% endif %}
      </div>
    </div>
    <!--- Pipeline -->
    {% include "include/tenantstatus.html" %}
    <!--- End Pipeline -->

    <!--- Tenant selection -->
    <ul id="tenant-selection">
      <li class="nav-item dropdown d-flex">
        <a href="#" class="btn btn-dark btn-sm mb-3 me-3 dropdown-toggle " data-bs-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false">
          {{ selected_tenant_name }}
        </a>
        <ul class="dropdown-menu px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
          <li class="mb-2">
            {% if tenant_data %}
            <li>
              {% for tenant in data.tenants %}
                {% if tenant.baseline == "true" %}
                  {% if tenant.id == selected_tenant %}
                    <a class="dropdown-item text-bold text-warning" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% else %}
                    <a class="dropdown-item text-warning" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% endif %}
                {% else %}
                  {% if tenant.id == selected_tenant %}
                  <a class="dropdown-item text-bold" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% else %}
                    <a class="dropdown-item" href="/home/tenant/{{ tenant.id }}">{{ tenant.display_name }}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </li>
            {% endif %}
          </li>
        </ul>
      </li>
    </ul>
    <!--- end tenant selection -->

    <div id="tenantData">
      <!--- Trends -->
      <div class="row mt-4">
        <div class="col-xl-4 col-lg-12 mb-5">
          <div class="card card-chart">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-info shadow-info shadow-info border-radius-lg py-3 pe-1">
              <canvas id="lineChartTracked" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
                </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Tracked</h3>
              <p class="card-category">trend over tracked configurations</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-12 mb-5">
          <div class="card card-chart">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-warning shadow-warning shadow-warning border-radius-lg py-3 pe-1">
              <canvas id="lineChartDiffs" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
            </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Changes</h3>
              <p class="card-category">trend over changes between configurations</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-12 mb-5">
          <div class="card card-chart">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary shadow-primary border-radius-lg py-3 pe-1">
              <canvas id="lineChartAverage" class="chart-canvas" style="display: block; box-sizing: border-box; height: 170px; width: 489.7px;" width="489" height="170"></canvas>
                </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Average</h3>
              <p class="card-category" id="diff-len">change average per last {{ data.diff_len }} records</p>
            </div>
          </div>
        </div>
      </div>
      <!--- End Trends -->

      <!--- Diff -->
      <div class="row mt-4">

        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info shadow-info shadow-info border-radius-lg py-4">
              <div class="text-center">
                <h3 class="text-light" id="tracked"></h3>
              </div>
            </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Tracked configurations</h4>
            </div>
            <div class="card-footer d-flex">
              <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
              <p class="font-weight-normal my-auto">Updated on: {{ data.config_data_last_update }}</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success shadow-success border-radius-lg py-4">
              <div class="text-center">
                <h3 class="text-light" id="match"></h3>
              </div>
            </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Matching</h4>
            </div>
            <div class="card-footer d-flex">
                <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
                <p class="font-weight-normal my-auto">Updated on: {{ data.config_data_last_update }}</p>
              </div>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-5">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-warning shadow-warning shadow-warning border-radius-lg py-4">
              <div class="text-center">
                <h3 class="text-light" id="diff"></h3>
              </div>
            </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Not matching</h4>
            </div>
            <div class="card-footer d-flex">
              <i class="material-icons position-relative ms-auto text-lg me-1 my-auto">access_time</i>
              <p class="font-weight-normal my-auto" id="diff-last-update">Updated on: {{ data.diff_data_last_update }}</p>
            </div>
          </div>
        </div>

      </div>
      <!--- End Diff -->

      <!--- Feeds -->
     {% include "views/home_feeds.html" %}
      <!--- End Feeds -->
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/countup.js@1.8.5/dist/countUp.js" 
integrity="sha256-uuJpDbZXxCG+b0n1BHZF/culPcadU3xCGhSIrbiypTg=" 
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"
integrity="sha256-gjQYlCMM/HIX3lODQvv5er+D4m6hfcSetDqlGj8FGj0="
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" 
integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(document).ready(function() {
  var socket = io.connect();
  socket.on('intunecdrun', function(data) {
    updateUI(data);
  });
  getSessionStorageData();
});
</script>

<script>
$(document).ready(function() {
  updateCounts({{ data.matchCount }}, {{ data.diffCount }}, {{ data.trackedCount }});
  drawLineChart("lineChartTracked", {{ data.labelsConfig | safe }}, {{ data.config_counts | safe }});
  drawLineChart("lineChartAverage", {{ data.labelsAverage | safe }}, {{ data.average_diffs | safe }});
  drawLineChart("lineChartDiffs", {{ data.labelsDiff | safe }}, {{ data.diffs | safe }});
  $('#dropdownMenuButton').text("{{ data.selected_tenant_name }}");
  // Handle "Edit" button click
  handleTenantClick();
});
</script>

<style>
    .dark-version .table> :not(caption)>*>* {
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
</style>

{% endblock javascripts %}