{% extends "base/template.html" %}

{% block title %} Tenants {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <!-- Add New Modal -->
    <div class="modal fade" id="new-tenant-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                <div class="card-header pb-0 text-left">
                    <h5 class="">Add new tenant</h5>
                </div>
                <div class="card-body">
                    <form role="form text-left" action="/tenants/add" method="post">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" name="tenant_display_name" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Tenant domain</label>
                            <input type="text" name="tenant_name" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Git Repo URL</label>
                            <input type="text" name="tenant_repo" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">PAT token</label>
                            <input type="password" name="tenant_pat" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Update Args</label>
                            <input type="text" name="tenant_update_args" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Backup Args</label>
                            <input type="text" name="tenant_backup_args" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                        <div class="form-check my-3" style="padding-left: 0;">
                            <input class="form-check-input" type="checkbox" id="branchCheck" name="tenant_new_branch" value="false" onclick="updateValue(this)">
                            <label class="custom-control-label" for="branchCheck">Create new branch</label>
                        </div>
                        <div class="form-check my-3" style="padding-left: 0;">
                            {% if baseline %}
                                <input class="form-check-input" type="checkbox" id="baselineCheck" name="tenant_baseline" value="false" onclick="updateValue(this)" disabled>
                                <label class="custom-control-label" for="baselineCheck">Baseline tenant - already set</label>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="baselineCheck" name="tenant_baseline" value="false" onclick="updateValue(this)">
                                <label class="custom-control-label" for="baselineCheck">Baseline tenant</label>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-round bg-gradient-primary btn-lg w-100 mt-4 mb-0">Save</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- End Add New Modal -->
    <div class="row mt-4">
        <div class="col-lg-2">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                <h3>Tenants</h3>
                <h6 class="text-secondary font-weight-normal pe-3">Overview of added tenants
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card" style="max-width: 70rem;">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <button type="button" class="btn btn-link text-dark text-gradient px-3 mb-0" data-bs-toggle="modal" data-bs-target="#new-tenant-form">
                                <i class="material-icons text-sm me-2" type="submit">add</i>new tenant
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 pb-2" id="edit-tenant">
                    {% if tenants %}
                    {% for tenant in tenants %}
                    <!-- Tenants -->
                        <ul class="list-group">
                        <li class="list-group-item border-0 p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column tenant-group">
                            {% if tenant.baseline == "true" %}
                            <h6 class="mb-3 text-sm text-warning tenant-header">{{ tenant.display_name }}</h6>
                            {% else %}
                            <h6 class="mb-3 text-sm tenant-header">{{ tenant.display_name }}</h6>
                            {% endif %}
                            <span class="mb-2 text-xs tenant-property">Tenant name: <span class="text-dark font-weight-bold ms-sm-2 tenant-property">{{ tenant.name }}</span></span>
                            <span class="mb-2 text-xs tenant-property">Tenant repo: <span class="text-dark ms-sm-2 font-weight-bold tenant-property">{{ tenant.repo }}</span></span>
                            <span class="mb-2 text-xs tenant-property">Update args: <span class="text-dark ms-sm-2 font-weight-bold tenant-property">{{ tenant.update_args }}</span></span>
                            <span class="mb-2 text-xs tenant-property">Backup args: <span class="text-dark ms-sm-2 font-weight-bold tenant-property">{{ tenant.backup_args }}</span></span>
                            {% if tenant.update_branch %}
                            <span class="mb-2 text-xs tenant-property">Update from branch: <span class="text-dark ms-sm-2 font-weight-bold tenant-property">{{ tenant.update_branch }}</span></span>
                            {% else %}
                            <span class="mb-2 text-xs tenant-property">Update from branch: <span class="text-dark ms-sm-2 font-weight-bold tenant-property">main</span></span>
                            {% endif %}
                            {% if tenant.baseline == "true" %}
                            <div class="form-check mt-3" style="padding-left: 0;">
                                {% if tenant.create_documentation == "true" %}
                                <input class="form-check-input tenant-check" type="checkbox" value="true" checked disabled>
                                {% else %}
                                <input class="form-check-input tenant-check" type="checkbox" value="false" disabled>
                                {% endif %}
                                <label class="custom-control-label tenant-property" for="baselineCheck">Create documentation</label>
                            </div>
                            {% endif %}
                            {% if tenant.repo %}
                            <div class="form-check my-3" style="padding-left: 0;">
                                {% if tenant.new_branch == "true" %}
                                <input class="form-check-input tenant-check" type="checkbox" value="true" checked disabled>
                                {% else %}
                                <input class="form-check-input tenant-check" type="checkbox" value="false" disabled>
                                {% endif %}
                                <label class="custom-control-label tenant-property" for="baselineCheck">Create new branch</label>
                            </div>
                            {% endif %}
                            {% if tenant.baseline == "true" %}
                            <div class="form-check my-1" style="padding-left: 0;">
                                <input class="form-check-input tenant-check" type="checkbox" value="true" checked disabled>
                                <label class="custom-control-label text-sm tenant-property">Baseline tenant</label>
                            </div>
                            {% endif %}
                            </div>
                            <div class="ms-auto text-end">
                                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/tenants/delete/{{ tenant.id }}"><i
                                    class="material-icons text-sm me-2" type="submit">delete</i>Delete</a>
                                <a class="btn btn-link text-dark text-gradient px-3 mb-0" href="/tenants/edit/{{ tenant.id }}"><i
                                    class="material-icons text-sm me-2" type="submit">edit</i>Edit</a>
                            </div>
                        </ul>
                    <!-- End Tenants -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        function updateValue(checkbox) {
            if (checkbox.checked) {
              checkbox.value = "true";
            } else {
              checkbox.value = "false";
            }
          }
    </script>
    <script>
        $(document).ready(function() {
            // Handle "Edit" button click
            $('a[href^="/tenants/edit/"]').click(function(event) {
                event.preventDefault();
                var url = this.href;
                $('.tenant-group').addClass('placeholder-wave');
                $('.tenant-header, .tenant-property').addClass('placeholder');
                $('.tenant-check').addClass('d-none');
                $('.btn').addClass('disabled');
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: true,
                    success: function(data) {
                        // Return data from AJAX request
                        $('#edit-tenant').html(data);
                        $('.tenant-group, .tenant-header, .tenant-property').removeClass('placeholder', 'placeholder-wave');
                        $('.tenant-check').removeClass('d-none');
                        $('.btn').removeClass('disabled');
                    },
                    error: function() {
                        alert('An error occurred while loading the page.');
                        $('.tenant-group, .tenant-header, .tenant-property').removeClass('placeholder', 'placeholder-wave');
                        $('.tenant-check').removeClass('d-none');
                        $('.btn').removeClass('disabled');
                    }
                });
            });
          });
    </script>
{% endblock javascripts %}